#emsm-social-media-table .ui-state-default {
	background: transparent;
	border: none;
}
.emsm-admin-settings .icon-img-fa .fa {
	font-size: 20px;
}
.emsm-admin-settings .emsm-delete .fa {
	font-size: 20px;
}
#emsm-icons-overlay {
	display: none;
	max-width: 800px;
}
.fa-icons-list {
	padding: 0;
	margin: 0;
}
.fa-icons-list li {
	float: left;
	padding: 0;
	margin: 0 0 5px 0;
	width: 20%;
}
.fa-icons-list li .fa {
	margin-right: 3px;
	width: 15px;
}
.fa-icons-list li a,
.fa-icons-list li a:visited {
	text-decoration: none;
	color: #000;
}
.fa-icons-list li a:hover {
	text-decoration: underline;
}
a.icon-modal-link {
	padding-left: 10px;
}
.icon-img {
	margin: 0 5px;
	display: inline-block;
}